#mainCard{
	display: inline-flex;
	width: 70vw;
	justify-content: center;
}

#profileBox, #accountOptionsBox{
	display: inline-flex;
	width: 50%;
	height: 20em;
	border-radius: 2em;
	align-items: center;
	justify-content: center;
	background-color: white;
	margin-bottom: 0px;
}

#profileBox{
	margin-right: 0.75em;
}

#accountOptionsBox{
	margin-left: 0.75em;
}

#profileInfoContainer{
	display: block;
}

#profileBox img{
	width: 10em;
	height: 10em;
	border-radius: 5em;
}

#profileName{
	font-size: 40px;
	font-weight: bold;
}

#profileEmail{
	font-size: 25px;
}

#lowerCard{
	border: 1px solid black;
	display: inline-flex;
	margin-top: 1.5em;
	width: 70vw;
	height: 40em;
	border-radius: 2em;
	background-color: white;
}