#mainCard{
	display: inline-flex;
	width: 70vw;
	justify-content: center;
}

#profileBox, #accountOptionsBox{
	display: inline-flex;
	width: 50%;
	height: 20em;
	border-radius: 2em;
	align-items: center;
	justify-content: center;
	background-color: white;
	margin-bottom: 0px;
}

#profileBox{
	margin-right: 0.75em;
}

#accountOptionsBox{
	margin-left: 0.75em;
}

#profileInfoContainer, #accountOptionContainer, #lowerCardContainer{
	display: block;
}

#profileBox img{
	width: 10em;
	height: 10em;
	border-radius: 5em;
	margin-bottom: 1em;
}

#profileName{
	font-size: 40px;
	font-weight: bold;
	line-height: 90%;
	margin-top: 1em;
}

#profileEmail{
	font-size: 25px;
}

#accountOptionsBox img{
	height: 5em;
}

#accountOptionsText{
	font-size: 24px;
	font-weight: bold;
}

.accountOptionsButton{
	width: 14vw;
	height: 3em;
	margin: 0.5em;
	border-radius: 1em;
	background-color: var(--buttonBackingColor);
    color: var(--buttonTextColor);
	font-weight: bold;
	/* Need to do work on font size here at some point because it gets weird when resizing*/
}

#lowerCard{
	display: inline-flex;
	margin-top: 1.5em;
	width: 70vw;
	height: 40em;
	border-radius: 2em;
	background-color: white;
}

#lowerCardContainer{
	text-align: center;
	width: 100%;
}

#lowerCardHeader{
	text-align: left;
	display: block;
	width: 100%;
	font-size: 24px;
	font-weight: bold;
	padding: 1.2em;
}

#lowerCardContent{
	padding: 1.2em;
	display: block;
	font-size: 24px;
	font-weight: initial;
	font-style: italic;
	color: var(--buttonTextColor);
	width: 100%;
}