:root {
    --ritOrange: #F36E21;
    --buttonBackingColor: #F4D4C0;
    --buttonTextColor: #E37639;
}

body {
    background-color: white;
    padding: 0px;
    margin: 0px;
    display: block;
    height: 100vh;
    overflow: hidden;

}

html{
    height: 100vh;
}

#headerBar {
    width: 100%;
    height: 6vh;
    background-color: var(--ritOrange);
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

#ritTopLogo {
    transform: rotate(180deg);
    transform: rotateX(180deg);
    height: 70%;
    width: auto;
    padding-left: 1em;
}

#sideBar{
    width: 20vw;
    display: inline-block;
    background-color: white;
    padding-top: 1em;
    margin: 0;
    text-align: center;
    border-right: black 2px solid;
    height: 94vh;
    overflow: scroll;
}

#ritNutritionTopLogo {
    height: auto;
    width: 80%;
  
}

.sideBarButton {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 70%;
    height: 6em;
    border-radius: 15px;
    text-align: left;
    font-size: 16px;
    background-color: var(--buttonBackingColor);
    color: var(--buttonTextColor);
    font-weight: bold;
}

.sideBarButton img{
    height: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

#sideBarButtons{
    margin-top: 1em
}



#mainBody {
    width: 80vw;
    display: inline;
    background-color: #F2F2F6;
    float: right;
    height: 94vh;

}

#mainBodyContent{
    height: 89vh;
    display: inline-block;
    text-align: center;
    overflow: scroll;
    height: 100%;
    width: 100%;
    padding-top: 2em; /* Wanna come back and make this padding page specific */
}

#mainBodyHeader h1{
    background-color: white;
    padding: 0.5em;
	/* This is the change I made to fix bottom spacing with headers.  
	 – Dylan */
	padding-bottom: 1.5em;
    font-size: 30px;
    font-weight: bold;
    height: 5vh;
    margin-bottom: 0px;
}

button{
    border: 0px;
}
 


