/* Landing Body 1 */
#landingBodyOne {
    display: inline-flex;
    width: 75vw;
    background-color: white;
    border-radius: 2em;
    overflow: hidden;

}

#bannerLeft{
    display: inline-flex;
    width: 70%;
}

#bannerLeft img{
    width: 100%
}


#bannerRight{
    width: 30%;
    display: inline-flex;
    overflow: hidden;
    /* Text Modification */
    align-items: center;
    justify-content: left;
    text-align: left;
}

#foodText, #foodText span{
    display: block
}

#foodText img{
    height: 1.75vw;
    position: relative;
    bottom: 2px;
}

#foodHeader{
    font-weight: bold;
    font-size: 2.5vw;
}

#foodInfo{
    font-size: 1.75vw;
}


/* Landing Body 2 */
#landingBodyThree{
    text-align: center;
}

#landingBodyThree img{
    width: 100%;
    display: block;
    padding: 1em;
    border-radius: 3em;
}

#landingBodyThree span{
    width: 26vw;
    display: inline-block;


}

#landingBodyThree span div{
    display: block;
    position: relative;
    text-align: center;
    bottom: 4.25vw;
    color: white;
    font-size: 2vw;
    font-weight: bold;
}

