:root {
    --ritOrange: #F36E21;
}

body {
    background-color: pink;
    padding: 0px;
    margin: 0px;
}

#headerBar {
    width: 100%;
    height: 6vh;
    background-color: var(--ritOrange);
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

#sideBar{
    width: 25%;
    display: block;
    height: 94vh;
    background-color: white;
    padding-top: 1em;
    margin: 0;
    text-align: center;
    border-right: black 2px solid;
}

#ritTopLogo {
    transform: rotate(180deg);
    transform: rotateX(180deg);
    height: 70%;
    width: auto;
    padding-left: 1em;
}

#ritNutritionTopLogo {
    height: 60px;
    width: auto;
  
}

.sideBarButton{
    margin-top: 1em;
    margin-bottom: 1em;
    width: 70%;
    height: 6em;
}

#sideBarButtons{
    margin-top: 1em
}