#mainCard{
	display: inline-flex;
}

#leftCard, #rightCard{
	display: inline-flex;
	border: 1px solid black;
	justify-content: center;
	align-items: center;
}

#leftCard{
	width: 35vw;
	height: 27vw;
	overflow: hidden;
	border-radius: 2em;
}

#rightCard{
	width: 40vw;
}

#leftCard img{
	height: 100%;
	display: inline;
}