#mainCard{
	display: inline-flex;
}

#leftCard, #rightCard{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 27vw;
}

#leftCard{
	width: 35vw;
	overflow: hidden;
	border-radius: 2em;
}

#rightCard{
	width: 40vw;
	text-align: left;
	justify-content: left;
	padding-left: 2em;
	min-width: 400px;
}

#leftCard img{
	height: 100%;
	display: inline;
}

#locationDescription{
	padding-top: 0.5em;
	padding-left: 0.2em;
	display: inline-flex;
	width: 75vw;
	text-align: left;
	font-size: 20px;
}

#menuHeader{
	display: inline-flex;
	font-size: 32px;
	font-weight: bold;
	width: 75vw;
	text-align: left;
	margin-top: 1.25em;
	margin-bottom: 0.25em;
}

#menuButtons{
	display: inline-flex;
	width: 75vw;
}

.menuButton{
	margin-right: 1em;
	margin-top: 0.5em;
	text-align: center;
	width: 14vw;
	height: 3em;
	border-radius: 15px;
    font-size: 16px;
    background-color: var(--buttonBackingColor);
    color: var(--buttonTextColor);
	font-weight: bold;
}

#locationLocation{
	font-size: 1.8vw;
}

#locationLocation img{
	height: 1.8vw;
	position: relative;
	bottom: 2px;
}

#locationName{
	font-weight: bold;
	font-size: 2.4vw;
}

#locationHours{
	font-size: 1.6vw
}

#foodContent{
	width: 75vw;
	display: inline-block;
	margin-top: 1.5em;
	height: 100em;
	flex-wrap: wrap;
	text-align: center;
}

.foodItem{
	display: inline-flex;
	width: 24em;
	height: 12em;
	border-radius: 2em;
	overflow: hidden;
	background-color: white;
	margin: 1em;
	font-weight: bold;
}

.leftFoodCard img{
	height: 100%;
	
}

.leftFoodCard, .rightFoodCard{
	display: inline-flex;
	overflow: hidden;
}

.leftFoodCard{
	width: 12em;
	height: 100%;
	background-color: red;
}

.rightFoodCard{
	width: 12em;
	justify-content: left;
	align-items: center;
	padding-left: 1em;
}

.foodInfoContainer, .foodImageContainer{
	display: inline-block;
	text-align: left;
	overflow: hidden;
}










