
#locationDetailsPageHero{
	width: 500px;
	border-radius: 25px;
	padding-left: 15px;
	padding-top: 10px;
}

#diningLocationPageMenuOptionButton{
	margin-top: 1em;
	margin-bottom: 1em;
	width: 70%;
	height: 6em;
	border-radius: 15px;
	text-align: left;
	font-size: 16px;
	background-color: var(--buttonBackingColor);
	color: var(--buttonTextColor);
	font-weight: bold;
}
