.locationCard {
    display: inline-flex;
    border: 2px solid green;
    width: 36em;
    margin: 1em;
    height: 15em;
}


/* Location Cards */
#locationsBox{
    display: inline-block;
    text-align: center;
    overflow: scroll;
    height: 100%;
}

.locationCardLeft, .locationCardRight{
    display: inline-flex;
    margin: 0px;

}

.locationCardLeft{
    border: 2px solid blue;
    width: 38%;
    height: 100%; 
    overflow: hidden;
}

.locationCardLeft img {
    display: inline;
    height: 100%;

}

.locationCardRight{
    height: 100%;
    border: 2px solid red;
    width: 62%;
}