
/* Location Cards */
/* #locationsBox{
    display: inline-block;
    text-align: center;
    overflow: scroll;
    height: 100%;
} */

.locationCard {
    display: inline-flex;
    width: 40em;
    margin: 1em;
    margin-top: 3em;
    height: 17em;
    border-radius: 2.5em;
    overflow: hidden;
    background-color: white;
}

.locationCardLeft, .locationCardRight{
    display: inline-flex;
    margin: 0px;

}

.locationCardLeft{
    width: 38%;
    height: 100%; 
    overflow: hidden;
}

.locationCardLeft img {
    display: inline;
    height: 100%;

}

.locationCardRight{
    height: 100%;
    width: 62%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.75em;
    position: relative;
    padding-left: 2em;
    text-align: left;
}